<p id="notice"><%= notice %></p>
</br>
<p>
  <h2>
  <%= @play.title %>
  </h2>
</p>

<p>
  <strong>Playwright:</strong>
  <%= @play.playwright %>
</p>

<p>
  <strong>Year of Release:</strong>
  <%= @play.year_of_release %>
</p>

<p>
  <strong>Male Roles:</strong>
  <%= @play.male_roles %>
</p>

<p>
  <strong>Female Roles:</strong>
  <%= @play.female_roles %>
</p>

<p>
  <strong>Total Roles:</strong>
  <%= @play.total_roles %>
</p>

<p>
  <strong>Musical:</strong>
  <% if @play.musical %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<p>
  <strong>Comedy:</strong>
  <% if @play.comedy %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
</br>

<div id=list_prods>
  <%= render :partial=>"prod_list", :locals=>{:productions=>Production.where(play_id: @play.id)} %>
</div>


<h2>Add a new Production of this show:</h2>

<%= render :partial=>"new_production", :locals=>{:production=>Production.new(:play_id=>@play.id)} %>

