<!DOCTYPE html>
<html>
  <head>
    <title>PlayAround</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span style="text-align: right">
      <% form_tag "/plays/search" do %>
        <%= text_field_tag :search_string %>
        <%= submit_tag "Search" %>
      <% end %>
    </span>

    <p style="color: blue"><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>
